extends ./layout.jade

block title
 title Show contact information
 
block content
  .row
    .col-md-4.col-md-offset-4
      h1 Contact
      h3 Name: #{contact.name}
      h3 e-mail: #{contact.email}
