for contact in contacts
  tr
    td= contact._id
    td= contact.name
    td= contact.email
    td= moment(contact.created_at).format()
    td= moment(contact.updated_at).format()
    td
      a(href="/showcontact/#{contact._id}")
        span.glyphicon.glyphicon-eye-open
