extends ./layout.jade

block title
 title Show contacts list
 
block content
  .row
    .col-md-10.col-md-offset-1
      h1 Users list (
        span(id="curCount") #{contacts.length}
        = " "
        | of #{pagination.count})
      div
        table.table
          thead
            tr
              th user name
              th e-mail
              th created
              th updated
              th action
          tbody(id="contacts-container" data-count="#{pagination.count}" data-step="#{pagination.step}")
            include ./contact-list-data.jade
        if pagination.count > contacts.length
          .text-center
            a.btn.btn-default(href="javascript:void(0)" id="shownext10") show next #{pagination.step}
            
block scripts            
  script.
    $("#shownext10").click(function() {
      var step = $("#contacts-container").data("step") || #{pagination.step};
      var count = $("#contacts-container").data("count") || #{pagination.count};
      var skip = $("#contacts-container").data("skip") || 0;
      skip += step;
      if ((skip + step) >= count) {
        $("#shownext10").hide();
      }
      
      $("#contacts-container").data("skip", skip);
      
      $.get("/listcontacts?dataonly=1&skip="+skip, function(data) {
        $("#contacts-container").append(data);
        $("#curCount").text($("#contacts-container tr").length);
      });
      /*
      $("#contacts-container").load("/listcontacts?dataonly=1&skip=10");
      alert('ddd');*/
      })
