extends ./layout.jade

block title
 title Add new user
 
block content
  .row
    .col-md-4.col-md-offset-4
      h1 Add new contact
      form(method='POST' action='/addcontact')
        .form-group(class=validation.name.error ? "has-error": "")
          label User name
          input.form-control(type='text' placeholder='Your name' name='name' value='#{contact.name}') 
        .form-group(class=validation.email.error ? "has-error": "")
          label Email address
          input.form-control(type='email' placeholder='email' name='email' value='#{contact.email}') 
        button.btn.btn-success(type='submit') Add contact
