doctype html
html(lang="en")
  head
    block title
     title Simple page
    link(href='https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet')
  body
    include ./navbar.jade
    block content
    script(src='https://yastatic.net/jquery/2.2.0/jquery.min.js')
    script(src='https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js')
    block scripts
