nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#main-menu' aria-expanded='false')
        span.sr-only Toggle navigation
        .icon-bar
        .icon-bar
        .icon-bar
      a.navbar-brand(href='/') Home
    #main-menu.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/addcontact") Add contact
        li
          a(href="/listcontacts") List contacts
